extends ../layout

block content
  .row
    .col-md-10
      h1=title
      a.btn.btn-default(href='/talk/new') 
        i.fa.fa-edit
        |  New Talk
    .col-md-2
      p Talks ##{submissions.length}
  .row
    .col-md-8.col-md-offset-2
      for talk in submissions
        .row
          .col-md-8 
            a(href='/talk/#{talk.id}')
              h3 #{talk.doc.talk.title}
            p #{talk.doc.talk.abstract}
          .col-md-4 
            p #{talk.doc.talk.type}
            if talk.doc.user.id == user.id
              a.btn.btn-default(href='/talk/#{talk.id}/edit')
                i.fa.fa-edit
