extends ../layout

block content
  .row
    .col-md-12
      h1 #{profileuser.name}
  .row
    .col-md-2
      img.img-circle(width="100px", src=profileuser.avatar)
    .col-md-10
      p Position: #{profileuser.position}
      p Company: #{profileuser.company}
      p Experience: #{profileuser.experience}
      p E-mail: 
        a(href="mailto:"+profileuser.email) #{profileuser.email}
      if user.url
        p Web: 
          a(href=profileuser.url, target="_blank") #{profileuser.url}
      if profileuser.github
        p GitHub: 
          a(href="https://github.com/"+profileuser.github) #{profileuser.github}
      if profileuser.twitter
        p Twitter: 
          a(href="https://twitter.com/"+profileuser.twitter) #{profileuser.twitter}
      p Bio
      div #{profileuser.bio}
  .row
    .col-md-12
      h2 Talks
      table.table.table-hover.table-bordered
        thead
          tr
            th Title
            th Type
        tbody
          for talk in talks
            tr
              td 
                a(href="/talk/"+talk.id) #{talk.doc.talk.title}
              td #{talk.doc.type}
